<canvas #canvas width="520" height="545" [hidden]="!isVisible"></canvas>
<div class="textinput"><input type="text" id="sINPUT1" #sINPUT1 class="ui-textinput"></div>
<div class="textinput"><input type="text" id="sINPUT2" #sINPUT2 class="ui-textinput"></div>
<div class="textinput"><input type="text" id="sINPUT3" #sINPUT3 class="ui-textinput"></div>
<div class="textinput"><input type="text" id="sINPUT4" #sINPUT4 class="ui-textinput"></div>
<div class="textinput"><input type="text" id="sINPUT5" #sINPUT5 class="ui-textinput"></div>
<div class="textinput"><input type="text" id="sINPUT6" #sINPUT6 class="ui-textinput"></div>
<div class="textinput"><input type="text" id="sINPUT7" #sINPUT7 class="ui-textinput"></div>
<div class="textinput"><input type="text" id="sINPUT8" #sINPUT8 class="ui-textinput"></div>
<div class="textinput"><input type="text" id="sINPUT9" #sINPUT9 class="ui-textinput"></div>

