<canvas  #canvas width="280" height="150"></canvas>
<div style="position: absolute; left: 0px; top: 0px;">
    <input type="text" #sINPUT  class="ui-textinput">
</div>
<!--
    <canvas  #canvas width="280" height="100"></canvas>
    <div id="dom_overlay_container" #dom_overlay_container style="position: absolute; left: 0px; top: 0px;">  
        <input type="text" id="sINPUT" class="ui-textinput" style="box-sizing: border-box; width: 110px; height:    
        27px; transform: matrix(1, 0, 0, 1, 39.0533, 42.4856); text-align: right; font-size: 25px;">
    </div>
-->